<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Voter Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h2>Voter Login</h2>
    <form th:action="@{/voter/login}" method="post">
        <label>National ID:</label>
        <input type="text" name="nationalId" required>
        <button type="submit">Login</button>
    </form>
    <p style="text-align:center; margin-top:10px;">
        New user? <a th:href="@{/voter/register}">Register here</a>
    </p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>


